<div class="row">
  <div class="col-lg-2 bgrn">
    <%= render 'shared/aside' %>
  </div>
  <div class="col-lg-10 back">
    <div class="fil">
    <%= render 'layouts/header'%>
    <div class="row">
      <div class="col-lg-8 showmid">
        <div class="form-cont">
          <h1 class="topics"> Thoughts by me and those I follow </h1>
          <%= render 'shared/thought_form'%>
        </div>
        <div class="thots-cont">
          <% @thoughts.each do |thot| %>
            <div class="each-thot">
              <div class="avatarholder">
                <%= avatar_for thot.author %>
              </div>
              <div class="name-content">
                <h3><%= link_to thot.author.username, thot.author %> wrote: </h3>
                <p class="text"><%= thot.text %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 show3">
        <%= render 'shared/whofollow'%>
      </div>
    </div>
  </div>
</div>