<div class="row">
  <div class="col-lg-2 bgrn">
    <%= render 'shared/aside' %>
  </div>
  <div class="col-lg-10 back">
    <div class="fil">
      <%= render 'layouts/header' %>      
      <div class="row">
        <div class="col-lg-8 showmid">
          <%= render 'shared/cover'%>
          <div class="thotstab">
            Thoughts
          </div>
          <div class="thots-cont">
            <%= render 'shared/thoughts'%>
          </div>
        </div>
        <div class="col-lg-4 show3">
          <div class="profile">
            <div class="profile-pic">
              <div class="pic">
                <%= render 'shared/profile'%>
              </div>
              <div class="edit-button">
                <%= link_to 'Edit profile',edit_user_path, class: "btn btn-success" if @user == current_user%>
              </div>
            </div>
            <section class="statis">
              <%= render 'shared/stats' %>
            </section>
            <div>
              <%= render 'followform' %>
            </div>
          </div>
          <div class="container">
            <h2>Followed by:</h2>
            <%= render 'shared/followedby'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>